<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Q$A</title>
    </head>
    <body>
        <h1>DUNNO LAND</h1>
        <br>
        <h3>Answers:</h3>
        <ul>
            {% for answer in answers%}
            <li>ID:{{answer['id']}},{{answer['message']}} vote number:{{answer['vote_number']}}</li>
            <form action = '{{url_for("answer", answer_id=answer_id, question_id=question_id)}}'>
                <button type = 'submit' name='vote_up'>LIKE</button>
            <form action = '{{url_for("answer",answer_id=answer_id, question_id=question_id)}}'>
                <button type = 'submit' name='vote_down'>HATRED</button>
            {%endfor%}
        </ul>
        <a href='{{ url_for("answer", question_id=question_id,answer_id=answer_id ) }}'>Post a new answer</a>
    </body>
</html>