{% extends "layout.html" %} {% block content %}

<form
    action="{{url_for('new_comment_a', question_id=question_id)}}"
    method="post"
>
    <label for="message" class="form-label">ADD A NEW COMMENT</label>
    <textarea
        id="message"
        name="message"
        class="form-control"
        aria-label="With textarea"
        placeholder="Type here..."
        required
    ></textarea>
    <button type="submit" class="btn btn-dark btn-lg mt-3">Submit comment</button>
</form>

{% endblock %}
