{% extends "layout.html" %}

{% block content %}

        <meta charset="utf-8" />
        <title>Q$A</title>
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
        />

        <div class="container">
            <h1 class="placeholder text-uppercase mb-4 font-weight-bold col-12 bg-warning mb-0 text-center">Edit question</h1>
            <form
                action='{{url_for("edit_question", question_id=question_id)}}'
                method="post"
            >
                <label class="form-label" for="message"
                    >Edit question message</label
                >
                <textarea
                    id="question_message"
                    class="form-control"
                    name="question_message"
                    rows="3"
                    required
                >
{{question['title']}}</textarea
                ><br />

                <label class="form-label" for="message"
                    >Edit question title</label
                >
                <textarea id="title" class="form-control" name="title" rows="3" required>
{{question['message']}}</textarea
                ><br/>
                <button class="btn btn-dark" type="submit">
                    Submit question
                </button>
            </form>
        </div>
{% endblock %}
