{% extends "layout.html" %} {% block content %}

<h1
    class="
        placeholder
        text-uppercase
        mb-4
        font-weight-bold
        col-12
        bg-warning
        mb-0
        text-center
    "
>
    Edit answer
</h1>
<form
    action='{{url_for("edit_answer", question_id=question_id, answer_id=answer_id)}}'
    method="post"
>
    <label class="form-label" for="message">Edit answer message</label>
    <textarea
        id="message"
        class="form-control"
        name="message"
        rows="3"
        required
    >
{{answer['message']}}</textarea
    >
    <button class="btn btn-primary mt-3" type="submit">Submit answer</button>
</form>

{% endblock %}
