<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Q$A</title>
    </head>
    <body>
        <h1>Edit question</h1>
        <form action='{{url_for("display_question", question_id=1)}}' method="post">
            <label for='message'>Edit question message</label><br>
            <textarea id='question_message' name="question_message">{{question.split('    ')[1]}}</textarea>
            <br>
            <label for='message'>Edit question title</label><br>
            <textarea id='title' name="title">{{question.split('    ')[0]}}</textarea>
            <button type="submit">Submit question</button>
        </form>
        
    </body>
</html>