{% extends "layout.html" %} {% block content %}

<h1
    class="
        placeholder
        text-uppercase
        mb-4
        font-weight-bold
        col-12
        bg-warning
        mb-0
        text-center
    "
>
    Edit comment
</h1>
<form
    action='{{url_for("edit_comment", comment_id=comment_id , question_id=question_id)}}'
    method="POST"
>
    <label class="form-label" for="editcomment">Edit comment message</label>
    <textarea
        id="editcomment"
        class="form-control"
        name="editcomment"
        rows="3"
        required
    >
{{comment['message']}}</textarea
    >
    <button class="mt-3 btn btn-dark" type="submit">Submit commit</button>
</form>

{% endblock %}
