{% extends "layout.html" %} {% block content %}

<h1
    class="
        placeholder
        text-uppercase
        mb-4
        font-weight-bold
        col-12
        bg-warning
        mb-0
        text-center
    "
>
    Edit comment
</h1>
<form
    action='{{url_for("edit_comment", question_id=question_id, comment_id=comment['id'])}}'
    method="post"
>
    <label class="form-label" for="message">Edit comment</label>
    <textarea
        id="message"
        class="form-control"
        name="message"
        rows="3"
        required
    >
{{comment['message']}}</textarea
    >
    <button class="btn btn-primary mt-3" type="submit">Submit comment</button>
</form>

{% endblock %}
