{% extends "layout.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
{% endblock %}
{% block content %}

    <section class="Form my-5 py-5">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-5">
                    <img src="https://www.easio.io/landing/images/user/login.svg"
                          class="img-fluid"
                          alt="image"
                    />
                </div>
                <div class="col-lg-7 py-5 pt-5">
                    <h1 class="font-weight-bold py-3">LOGIN FORM</h1>
                    <h4>Sign into your account</h4>
                    <form method="post" action= "{{ url_for('login_user') }}">
                        <div class="form-group">
                            <div class="col-lg-7">
                                <label for="email">Email</label>
                                <input type="email" placeholder="Email-Address" name="email" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-7">
                                <label for="password">Password</label>
                                <input type="password" placeholder="**********" name="password" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group form-check">
                            <div class="col-lg-7">
                                <input type="checkbox" name="checkbox" class="form-check-input" id="checkbox"/>
                                <label for="checkbox" class="form-check-label ml-2 font-weight-bold"> Remember me</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-7">
                                <button class="btn btn-dark" type="submit">Login</button>
                            </div>
                        </div>
{#                        <a href="#">Forgot password</a>#}
                        <p>Don't have an account ?<a href="{{ url_for('register_user') }}">Register here</a></p>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}