<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Q$A</title>
    </head>
    <body>
        <h1>DUNNO LAND</h1>
        <br>
        <h2>
            Question: {{question['title']}}, {{question['question_message']}}<br>
        </h2>
        <p>Question votes:{{question['vote_number']}}</p>
        <form action = '{{url_for("delete", question_id = question_id)}}' method="POST">
            <button type = 'submit' name='delete_q'>Delete question</button>
        </form>
        <form action = '{{url_for("edit_question", question_id = question_id) }}', method="POST">
            <button type = 'submit' name='edit'>Edit question</button>
        </form>
        <form action = '{{url_for("vote_question_up", question_id=question_id)}}' method="POST">
            <button type = 'submit' name='like'>👍</button></form>
        <form action = '{{url_for("vote_question_down", question_id=question_id)}}' method="POST">
            <button type = 'submit' name='hate'>👎</button></form>
        <hr>
        <br>
        <h3>Answers:</h3>
        <ul>
            {% for answer in answers%}
            <li>ID:{{answer['id']}},{{answer['message']}} vote number:{{answer['vote_number']}}</li>
            <form action = '{{url_for("delete_answer", answer_id = answer["id"], question_id=question_id)}}' method="POST">
                <button type = 'submit' name='delete_a'>Delete answer</button>
            </form>
            <form action = '{{url_for("vote_answer_up", question_id=question_id, answer_id = answer["id"])}}' method="POST">
                <button type = 'submit' name='like'>👍</button></form>
            <form action = '{{url_for("vote_answer_down", question_id=question_id, answer_id = answer["id"])}}' method="POST">
                <button type = 'submit' name='hate'>👎</button></form>
            {%endfor%}
            
        </ul>
        <a href='{{ url_for("new_answer", question_id=question_id) }}'>Post a new answer</a>
        <br>
        <br>
        <a href='{{ url_for("list_q") }}'>Back to questions</a>
    </body>
</html>